

.main input {
  border: none;
  outline: none;
  padding: 0 20px;
  height: 35px;
  border-radius: 80px;
}
.descuento,
.precioOriginal,
.cupon {
  display: flex;
  flex-direction: column;
}
.precioOriginal,
.cupon {
  width: 220px;
}
.descuento {
  width: 110px;
}
.main-form {
  display: flex;
  justify-content: space-around;
}
.idk {
  display: flex;
  flex-direction: column;
}

.button_center {
  display: flex;
  justify-content: center;
}
.section-from_button {
  width: 190px;
  height: 50px;
  border-radius: 10px;
  background-color: #33b1ff;
  color: #fff;
  border: none;
  font-size: 1.7rem;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  margin: 20px auto;
}
.main-form label,
.idk p {
  display: flex;
  justify-content: center;
  padding: 5px 0;
}
