.main-title_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-title,
.main-subtitle {
  color: white;
  letter-spacing: -0.1rem;
}
.main-title {
  margin-top: 40px;
  font-size: 5.5rem;
}
.main-subtitle {
  margin-top: 10px;
  font-size: 2rem;
}
.main-section_figureContainer,
.main-section_figureContainer img {
  height: 40px;
}

.cards {
  margin-top: 30px;
  width: 400px;
  height: 170px;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.cards a {
  color: #000;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  padding-right: 5px;
  font-weight: bold;
}
.cards a span {
  padding-left: 3px;
}
.cards h4 {
  font-size: 1.7rem;
  margin-left: 10px;
  font-weight: bold;
}
.cards a,
.cards p {
  margin-top: 16px;
  font-size: 1.5rem;
}
.main-container_cards {
  display: flex;
  justify-content: space-around;
}
.main-section_card-description {
  display: flex;
  align-items: center;
}
.main-section_card1 {
  background-color: #ff4d4d;
}
.main-section_card2 {
  background-color: #33b1ff;
}
.main-section_card3 {
  background-color: #9362b2;
}
.cta button {
  width: 300px;
  height: 48px;
  border-radius: 8px;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  background-color: #65ab13;
  color: #fff;
  font-weight: 700;
}
.cta {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.main-container_img {
  display: flex;
  justify-content: center;
  padding-left: 200px;
}
