.Triangulo,
.Circulo,
.Cuadrado {
  display: none;
}

.seleccion-figuras {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  align-items: center;
}
.seleccion-figuras label {
  padding-bottom: 20px;
}

.main-form_label {
  font-size: 2.2rem;
  color: white;
  display: flex;
  justify-content: center;
}
.main-form_select {
  width: 400px;
  height: 60px;
  font-size: 1.9rem;
  border-radius: 100px;
  background-color: #413075;
  border: none;
  color: #fff;
  outline: none;
  padding: 0 20px;
}

.Circulo,
.Cuadrado,
.Triangulo {
  font-size: 1.8rem;
  color: #fff;
}
.input_seleccion {
  width: 400px;
  height: 40px;
  border-radius: 80px;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 1.6rem;
}

.section-form-style {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  align-items: center;
}
.selection-label_title {
  display: flex;
  justify-content: center;
}
.input-selection_p {
  padding-top: 30px;
}
.input_cuadrado,
.input_circulo,
.input_triangulo {
  width: 25vw;
  margin: 10px 0;
}
.section-form_triangulo {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.button_special_triangulo {
  order: 1;
  margin: 0 25%;
}
.idk-dik {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 20px;

  align-items: center;
  flex-wrap: wrap;
}
.input-selection_p_triangulo {
  margin: 0 30% 10px;
}
.main {
  padding-bottom: 30px;
  height: auto;
}
