.Triangulo,
.Circulo,
.Cuadrado {
  display: none;
}

.seleccion-figuras {
  display: flex;
  flex-direction: column;
}
.seleccion-figuras label {
  padding-bottom: 20px;
}

.main-form_label {
  font-size: 2.2rem;
  color: white;
  display: flex;
  justify-content: center;
}
.main-form_select {
  width: 400px;
  height: 60px;
  font-size: 1.9rem;
  border-radius: 100px;
  background-color: #413075;
  border: none;
  color: #fff;
  outline: none;
  padding: 0 20px;
}
.main {
  width: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80vh;
  flex-direction: column;
  background-color: #0d0526;
  border-radius: 16px;
  margin: 0 auto;
  margin-top: 40px;
}
.Circulo,
.Cuadrado,
.Triangulo {
  font-size: 1.8rem;
  color: #fff;
}
.input_seleccion {
  width: 400px;
  height: 40px;
  border-radius: 80px;
  border: none;
  outline: none;
  padding: 20px;
}
.input_seleccion::placeholder {
  font-size: 1.4rem;
}
.section-form-style {
  display: flex;
  flex-direction: column;
}
.selection-label_title {
  display: flex;
  justify-content: center;
}
.section-from_button {
  width: 190px;
  height: 50px;
  border-radius: 10px;
  background-color: #33b1ff;
  color: #fff;
  border: none;
  font-size: 1.8rem;
  font-weight: bold;
}
